# Compiled files
bin/
*.o
*.out
*.exe
a.out

# Core dumps (ex: se o programa crashar rodando com gdb/valgrind)
core
core.*
vgcore.*

# VSCode (compartilha o settings.json)
.vscode/*
!.vscode/settings.json

# Operating system files
.DS_Store
Thumbs.db